$animations: (
  fade-in: var(--animation-fade-in),
  fade-in-bloom: var(--animation-fade-in-bloom),
  fade-out: var(--animation-fade-out),
  fade-out-bloom: var(--animation-fade-out-bloom),
  scale-up: var(--animation-scale-up),
  scale-down: var(--animation-scale-down),
  slide-out-up: var(--animation-slide-out-up),
  slide-out-down: var(--animation-slide-out-down),
  slide-out-right: var(--animation-slide-out-right),
  slide-out-left: var(--animation-slide-out-left),
  slide-in-up: var(--animation-slide-in-up),
  slide-in-down: var(--animation-slide-in-down),
  slide-in-right: var(--animation-slide-in-right),
  slide-in-left: var(--animation-slide-in-left),
  shake-x: var(--animation-shake-x),
  shake-y: var(--animation-shake-y),
  spin: var(--animation-spin),
  ping: var(--animation-ping),
  blink: var(--animation-blink),
  float: var(--animation-float),
  bounce: var(--animation-bounce),
  pulse: var(--animation-pulse),
);

// Durations
$durations: (
  0: 0ms,
  1: 100ms,
  2: 200ms,
  3: 300ms,
  4: 400ms,
  5: 500ms,
  6: 600ms,
  7: 700ms,
  8: 800ms,
  9: 900ms,
  1s: 1000ms,
  2s: 2000ms,
  3s: 3000ms,
);
