$layers: (
  layer-1: var(--layer-1),
  layer-2: var(--layer-2),
  layer-3: var(--layer-3),
  layer-4: var(--layer-4),
  layer-5: var(--layer-5),
  layer-important: var(--layer-important),
);


// Layers
$layer-1: var(--layer-1);
$layer-2: var(--layer-2);
$layer-3: var(--layer-3);
$layer-4: var(--layer-4);
$layer-5: var(--layer-5);
$layer-important: var(--layer-important);
