$shadow: (
  shadow-1: var(--shadow-1),
  shadow-2: var(--shadow-2),
  shadow-3: var(--shadow-3),
  shadow-4: var(--shadow-4),
  shadow-5: var(--shadow-5),
  shadow-6: var(--shadow-6),
  inner-shadow-0: var(--inner-shadow-0),
  inner-shadow-1: var(--inner-shadow-1),
  inner-shadow-2: var(--inner-shadow-2),
  inner-shadow-3: var(--inner-shadow-3),
  inner-shadow-4: var(--inner-shadow-4),
);
$shadow-1: var(--shadow-1);
$shadow-2: var(--shadow-2);
$shadow-3: var(--shadow-3);
$shadow-4: var(--shadow-4);
$shadow-5: var(--shadow-5);
$shadow-6: var(--shadow-6);
$inner-shadow-0: var(--inner-shadow-0);
$inner-shadow-1: var(--inner-shadow-1);
$inner-shadow-2: var(--inner-shadow-2);
$inner-shadow-3: var(--inner-shadow-3);
$inner-shadow-4: var(--inner-shadow-4);
