.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
}

.grid {
  display: grid;
}

.inline-flex {
  display: inline-flex;
}

.inline-grid {
  display: inline-grid;
}
