// TODO: This is a example you need to update it
@font-face {
  font-weight: 400;
  font-family: YourFontName;
  font-style: normal;
  src:
 url('path-to-your-font.woff2') format('woff2'),
       url('path-to-your-font.woff') format('woff');
}
